@font-face {
    font-family: 'orbitronregular';
    src: url('../fonts/orbitron-regular-webfont.woff2') format('woff2'),
         url('../fonts/orbitron-regular-webfont.woff') format('woff'),
         url('../fonts/Orbitron-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url(img/calendar-bg.png);
    background-position: top left;
    background-repeat: repeat-y;
    background-color: #000;
    background-attachment: scroll, fixed;
}

@media screen and (max-width: 1640px) {
    body {
        background-image: none;
    }
}

.intro, .features, .monthInfo, .flexContainer, .legend, .faveForm, .toDoOuter {
    background: rgba(255,255,255,.7);
    margin-top: 20px;
    padding: 15px;
}

.toDoOuter {
    position: relative;
    z-index: 90;
}

.toDoLists button {
    margin-bottom: 10px;
    background-color: transparent;
}

.toDoLists .progress {
    max-width: 90%;
    margin: 30px auto;
}

.toDoList1, .toDoList2 {
    width: 50%;
    position: relative;
    padding-top: 40px;
    border: 1px solid #000;
    padding-bottom: 210px;
}

.bottom {
    position: absolute;
    bottom: 0;
    left: 20px;
}    


.toDoList1 {
    border-right: none;
}

.list {
    width: 350px;
}

.toDoLists h4 {
    font-family: 'orbitronregular';
    position: absolute;
    top: 0;
    font-size: 17px;
    border-bottom: 1px solid black;
    width: 100%;
    font-weight: normal;
    min-height: 20px;
    padding-left: 5px;
}

.toDoLists {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: distribute;
            justify-content: space-between;
}

.toDoLists input {
    width: 225px;
    display: block;
    margin: 0 auto 20px;
    background: transparent;
}

.ribbon-wrapper-color {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-color {
  font: bold 15px 'orbitronregular';
  color: #333;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #636363;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#636363), to(#4c4c4c)); 
  background-image: -webkit-linear-gradient(top, #636363, #4c4c4c); 
  background-image:    -moz-linear-gradient(top, #636363, #4c4c4c); 
  background-image:     -ms-linear-gradient(top, #636363, #4c4c4c); 
  background-image:      -o-linear-gradient(top, #636363, #4c4c4c); 
  color: #b2b2b2;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-color:before, .ribbon-color:after {
  content: "";
  border-top:   3px solid #444444;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-color:before {
  left: 0;
}
.ribbon-color:after {
  right: 0;
}

.faveForm {
    position: relative;
    overflow: hidden;
}

.completed::before {
    content: '☑  ';
    color: #333;
}

.incomplete::before {
    content: '☐  ';
    color: #333;
}

.incomplete, .completed {
    text-align: left;
    font-family: 'orbitronregular';
    font-size: 16px;
    margin: 0 auto 10px;
    padding-left: 20px;
}

.createTitle input, .itemButtons input {
    width: 180px !important;
    display: inline-block !important;
    height: 32px !important;
}

.createTitle button, .itemButtons button {
    display: inline-block !important;
    float: right;
}

.createTitle, .itemButtons {
    width: 325px;
    margin: 10px auto 0;
    height: 45px;
}

.Games {
    height: 110px;
    width: 90%;
    margin: 0 auto 10px;
    padding: 0;
    overflow: hidden;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: distribute;
            justify-content: space-between;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.Games li {
    width: 164px;
    font-size: 15px;
    font-family: 'Play', sans-serif;
    text-align: center;
    list-style: none;
}

#drawer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .94);
    color: #e5e5e5;
    bottom: 0;
    left: 0;
    padding: 10px;
}

#drawer button {
    background-color: rgba(255,255,255,.4);
    -webkit-transition: background-color 1s;
    -webkit-transition-delay: 0s;
    transition: background-color 1s;
    transition-delay: 0s;
    display: block;
    margin: 0 auto;
    clear: both;
}

#drawer button:hover {
    background-color: #000;
}

#drawer.open {
    display: block;
    top: 0;
}

#drawer.closed {
    top: 230px;
    -webkit-transition: top 10s;
    -webkit-transition-delay: 0s;
    transition: top 10s;
}

.ReactTabs__TabPanel {
    background: rgba(255,255,255,.7);
    padding: 15px;
    overflow: hidden;
}

.react-tabs [role=tablist] {
    margin: 0;
    font-family: 'orbitronregular';
    color: rgba(255,255,255,.7);
}

.react-tabs [role=tab][aria-selected=true] {
    background: rgba(255,255,255,.7);
    border-bottom: 1px solid black;
    color: #333;
}

.tabsIntro {
    font-family: 'Play', sans-serif;
}

.eventsCount {
    font-size: 18px;
    font-family: 'orbitronregular';
    font-weight: bold;
}

.flexContainer {
    padding: 0;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;  
    border-bottom: 13px solid #191919;
    position: absolute;
    left: 35px;
    top: -12px;
}

.panel-group {
    opacity: .7;
}

.flexContainer, .intro {
    margin-top: 0;
}

.day.inactive {
    background: rgba(248, 248, 248, .2);
    color: #ccc;
}

.inactive .date {
    color: #333;
    opacity: .5;
}

#logo {
    width: 250px;
    height: auto;
    vertical-align: top;
    margin-top: 40px;
}

.Summary ul {
    list-style-type: none;
    font-family: 'Play', sans-serif;
    margin-top: 2px;
    width: 520px;
    float: left;
    padding-left: 0px;
    border-left: 1px solid rgba(0, 0, 0, .5);
    border-top: 1px solid rgba(0, 0, 0, .5);
}

.Summary ul li:last-of-type {
    margin-bottom: 0 !important;
}

.Summary ul li {
    padding-left: 15px;
}

.imageContainer {
    clear: right;
    width: 200px;
    height: 100px;
    float: right;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    border-right: 1px solid rgba(0, 0, 0, .5);
}

.imageContainer:first-of-type {
    border-top: 1px solid rgba(0, 0, 0, .5);
    height: 99px;
    margin-top: 2px;
}

.eventImage {
    max-width: 200px;
    max-height: 100px;
    margin: 0 auto;
    display: block;
    float: right;
}

.Summary ul li:nth-child(4n+4) {  
    padding-bottom: 21px;
    margin-bottom: 2px;
    line-height: 13px;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
}

.Summary ul li:nth-child(4n+1) {  
    font-weight: bold;
    font-size: 20px;
    font-family: 'orbitronregular';
}

.Summary ul li:nth-child(4n-2) {  
    font-style: italic;
    font-weight: bold;   
    font-size: 13px;
}

.Summary ul li:nth-child(4n-1) {  
    font-weight: bold;   
    font-size: 12px;
}

input[type='date'] {
    text-transform: uppercase;
}

.eventAvatar {
    height: 40px;
    width: 40px;
    background-size: cover;
    background-position: top center;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.emptyAvatar {
    display: none;
}

.react-datepicker, .panel-title {
    font-family: 'orbitronregular';
}

.panel {
    border: 1px solid black;
    border-radius: 0 !important;
}

.panel-body {
    padding: 10px !important;
}

label {
    font-family: 'orbitronregular';
    margin-bottom: 0;
}


::-webkit-input-placeholder {
    text-transform: none;
}

:-moz-placeholder { /* Firefox 18- */
    text-transform: none;
}

::-moz-placeholder {  /* Firefox 19+ */
    text-transform: none;
}

input:-ms-input-placeholder {  
    text-transform: none;
}

.introText {
    display: inline-block;
    width: 65%;
    vertical-align: top;
}

.pcImg {
    background: url(img/pc.jpg) top center no-repeat;
    width: 150px;
    height: 75px;
    background-size: 75%;
}

.xboxImg {
    background: url(img/xbox.jpg) top center no-repeat;
    width: 150px;
    height: 75px;
    background-size: 75%;
}

.ps4Img {
    background: url(img/ps4.jpg) top center no-repeat;
    width: 150px;
    height: 75px;
    background-size: 75%;
}

.mobileImg {
    background: url(img/mobile.jpg) top center no-repeat;
    width: 150px;
    height: 75px;
    background-size: 75%;
}

.devices {
    height: 75px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background: black;
}

.devices div {
    font-size: 20px;
    font-family: 'Play', sans-serif;
    color: transparent;
    font-weight: bold;
    text-indent: -100px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.devices span {
    background: rgba(255, 255, 255, .7);
    border-radius: 5px;
}

.devices .pcImg:hover {
    color: #a83d12;
    text-indent: 0;
    text-shadow: 1px 1px #fff;
    -webkit-transition: color .5s, text-indent .5s, text-shadow .5s, -webkit-transform .5s;
    transition: color .5s, text-indent .5s, text-shadow .5s, transform .5s;
}

.devices .xboxImg:hover {
    color: #2d4d1e;
    text-indent: 0;
    text-shadow: 1px 1px #fff;
    -webkit-transition: color .5s, text-indent .5s, text-shadow .5s, -webkit-transform .5s;
    transition: color .5s, text-indent .5s, text-shadow .5s, transform .5s;
}

.devices .ps4Img:hover {
    color: #071a45;
    text-indent: 0;
    text-shadow: 1px 1px #fff;
    -webkit-transition: color .5s, text-indent .5s, text-shadow .5s,  -webkit-transform .5s;
    transition: color .5s, text-indent .5s, text-shadow .5s, transform .5s;
}

.devices .mobileImg:hover {
    color: #7c0707;
    text-indent: 0;
    text-shadow: 1px 1px #fff;
    -webkit-transition: color .5s, text-indent .5s, text-shadow .5s, -webkit-transform .5s;
    transition: color .5s, text-indent .5s, text-shadow .5s, transform .5s;
}

#event {
    border: 1px solid #000;
}

#event p {
    width: 160px;
}

#event h1 {
    font-family: 'orbitronregular';
    border-bottom: 1px solid black;
    font-size: 16px;
    margin: 0 auto 10px;
}

.features div {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    font-family: 'Play', sans-serif;
}

h3 {
    font-size: 18px;
    font-family: 'orbitronregular';
    border-bottom: 1px solid black;
    padding-bottom: 2px;
}

.features li {
    font-size: 12px;
}

.features {
    width: 750px;
}

.intro h1 {
    font-family: 'orbitronregular';
    color: rgba(255, 255, 255, .7);
    -webkit-text-stroke: 1px black;
    letter-spacing: 3px;
    
}

.intro .color1 {
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

.intro .color2 {
    -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
}

.intro .color3 {
    -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
  -moz-animation: neon3 1.5s ease-in-out infinite alternate;
  animation: neon3 1.5s ease-in-out infinite alternate;
}

.intro .color4 {
    -webkit-animation: neon4 1.5s ease-in-out infinite alternate;
  -moz-animation: neon4 1.5s ease-in-out infinite alternate;
  animation: neon4 1.5s ease-in-out infinite alternate;
}

.intro p, .percentages p {
    font-family: 'Play', sans-serif;
    font-size: 16px;
}

#event p, .faveForm p {
    font-family: 'Play', sans-serif;
}

#event .arrow {
    display: none;
}

.event-title {
    font-size: 10px;
    font-family: 'Play', sans-serif;
    padding: 8px 0 0 5px;
}

.resetBox button {
    display: inline-block;
    margin-right: 10px;
}

.resetBox .modal-footer {
    text-align: center;
}

#reset {
    margin-top: 35px;
    width: 176px !important;
    white-space: nowrap;
}

#reset:hover {
    background: red;
}

#reset:hover svg {
    color: #fff;
}

#reset:disabled:hover svg {
    color: red;
}

#reset:disabled:hover:before, #reset:disabled:hover, #reset:disabled {
    content: none !important;
    background: #F5F5F5 !important;
    color: #e0dede;
    border: 1px solid #e0dede;
    opacity: .4;
    color: #333;
}

.modal-content {
    border-radius: 0px;
    text-align: center;
}

.modal-footer {
    border: 0px;
}

p.modalText {
    font-family: 'Play', sans-serif;
    font-size: 18px;
}

.hoverInfo {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.xbox {
    background: linear-gradient(black, #2d4d1e, black) !important;
}

.ps4 {
    background: linear-gradient(black, #071a45, black) !important;
}

.pc {
    background: linear-gradient(black, #a83d12, black) !important;
}

.mobile {
    background: linear-gradient(black, #7c0707, black) !important;
}

#app {
    width: 750px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    padding: 30px 0;
}

h2 {
    font-family: 'orbitronregular';
    border-bottom: 2px solid black;
}

h5 {
    font-family: 'orbitronregular';
    border-bottom: 1px solid #fff;
    font-size: 20px;
}

.flexColumn {
    font-family: 'orbitronregular';
    font-size: 13px;
    margin-bottom: 0;
}

.today {
    background: transparent !important;
    border: 1px solid #000;
} 

.today .date {
    background: black;
    color: rgba(255,255,255,.7);
}

.empty .Names, .empty ul li:nth-child(4n+4) {
    border: none;
}

.date {
    padding-right: 10px;
}

thead {
    background: #199319;
}

thead .fc-today {
    background: #c2740f !important;
}

.legend {
    width: 750px;
    border: 1px solid #000;
    margin: 30px auto;
    height: 50px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.legend p {
    display: inline-block;
    font-family: 'orbitronregular';
    color: #333;
    margin-bottom: 0;
}

#xbox, #ps4, #pc, #mobile {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 75px;
}

#mobile {
    width: 105px;
}

#xbox {
    width: 95px;
}

#ps4 {
    width: 90px;
}

.progress-bar-warning {
    background-color: #a83d12;
}

.progress-bar-success {
    background-color: #2d4d1e;
}

.progress-bar-danger {
    background-color: #7c0707;
}

.progress-bar-info {
    background-color: #071a45;
}

.progress span {
    color: #f7f7f7;
}

button svg {
    vertical-align: middle;
    color: red;
}

.panel-group {
    margin-top: 20px;
}

.colorSwatch1 {
    width: 40px;
    height: 20px;
    background: linear-gradient(black, #2d4d1e, black) !important;
    display: inline-block;
}

.colorSwatch2 {
    width: 40px;
    height: 20px;
    background: linear-gradient(black, #071a45, black) !important;
    display: inline-block;
}

.colorSwatch3 {
    width: 40px;
    height: 20px;
    background: linear-gradient(black, #a83d12, black) !important;
    display: inline-block;
}

.colorSwatch4 {
    width: 40px;
    height: 20px;
    background: linear-gradient(black, #7c0707, black) !important;
    display: inline-block;
}

select {
    height: 30px;
    border: 1px solid black;
    font-family: 'orbitronregular';
    width: 100px;
}

.Months button {
    display: inline-block;
}

.Months select {
    margin: 20px auto 20px;
    width: 200px !important;
    height: 32px;
    border: 1px solid black;
    margin-right: 20px;
    font-family: 'orbitronregular';
}

.Months {
    width: 385px;
    position: absolute;
    top: -4px;
    right: 15px;
}

.Months select, .Months button {
    background: transparent;
}

.monthInfo {
    position: relative;
    margin-top: 40px;
    height: 80px;
    padding-top: 5px;
}

.inputs {
    margin: 40px auto 40px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    align-items: center;
    max-width: 750px;
}

.inputs p {
    font-family: 'Play', sans-serif;
}

.eventDesc {
    width: 750px;
    margin-top: 15px;
}

input {
    font-size: 12px;
    font-family: 'orbitronregular';
    border: 1px solid black;
    color: black;
    padding-left: 5px;
    height: 30px;
}

::-webkit-input-placeholder {
    color: #333;
}

:-moz-placeholder { /* Firefox 18- */
    color: #333;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #333;
}

.faveForm button:hover svg {
    color: #fff;
}

.faveForm button {
    background-color: transparent;
    display: inline-block;
    margin-right: 10px;
}

.faveForm input {
    width: 425px;
    display: block;
    margin: 0 auto 20px;
    background: transparent;
}

.faveForm button:disabled, .toDoLists button:disabled {
    background: #a8a8a8;
    color: #333;
    opacity: .4;
    border: 1px solid #333;
}

.faveForm .faveButtons {
    width: 575px;
    margin: 0 auto;
    display: block;
}

.progress__text {
    width: 5em !important;
}

button {
    font-family: 'orbitronregular' !important;
    margin: 0 auto;
    display: block;
    background-color: rgba(255, 255, 255, .7);
    border: 1px solid black;
    padding: 5px 20px;
    color: black;
    -webkit-transition: background-color 1s; /* Safari */
    -webkit-transition-delay: 0s; /* Safari */
    transition: background-color 1s;
    transition-delay: 0s;
}

button:hover {
    background-color: black;
    color: rgba(255, 255, 255, .7);
}

button:disabled {
    background: #F5F5F5;
    color: #e0dede;
    border: 1px solid #e0dede;
}

.progress__text {
    text-indent: -76px;
    font-family: 'orbitronregular' !important;
    color: rgba(255, 255, 255, .7) !important;
    width: 55px;
    overflow: hidden;
}

.fraction {
    font-family: 'orbitronregular' !important;
    color: rgba(255, 255, 255, .7) !important;
    font-size: 12px;
    position: absolute;
    left: 45px;
    top: 1px;
    z-index: 10;
    text-shadow: 0 1px 1px rgba(0,0,0,.6);
}

.progressList .fraction {
    left: 65px;
}

.percentages .pcBar, .percentages .xBar, .percentages .psBar, .percentages .mBar, .progressList {
    position: relative;
}

.eventName {
    width: 190px;
}

.progress {
    background-color: rgba(0,0,0,.9) !important;
}

.mBar .progress.progress--active {
    margin-bottom: 0;
}

.progress--complete .progress__bar {
    -webkit-transition: opacity .2s ease,width .8s ease-out,background-color 1s ease,border-color .3s ease,box-shadow 1s ease;
    transition: opacity .2s ease,width .8s ease-out,background-color 1s ease,border-color .3s ease,box-shadow 1s ease;
    -webkit-animation: pulse 2s ease-out infinite;
    animation: pulse 2s ease-out infinite;
}

.progress__bar {
    -webkit-animation: none !important;
    animation: none !important;
}

/* PROGRESS BARS */

.toDoLists .progress__bar, .toDoLists .progress--complete .progress__bar {
    background-color: rgba(34, 34, 34,.95);
    background-image: -webkit-linear-gradient(0deg,rgba(47, 47, 47,0) 10%,rgba(59, 59, 59,.8) 30%,#636363 70%,rgba(59, 59, 59,.8) 80%,rgba(47, 47, 47,0) 90%),-webkit-linear-gradient(left,rgba(76, 76, 76,0),#4c4c4c),-webkit-linear-gradient(right,rgba(76, 76, 76,0),#4c4c4c);
    background-image: linear-gradient(90deg,rgba(47, 47, 47,0) 10%,rgba(59, 59, 59, .8) 30%,#636363 70%,rgba(59, 59, 59,.8) 80%,rgba(47, 47, 47,0) 90%),linear-gradient(90deg,rgba(76, 76, 76,0) 0,#4c4c4c),linear-gradient(270deg,rgba(76, 76, 76,0) 0,#4c4c4c);
    border-color: #4c4c4c;
    box-shadow: inset 0 0 .6em #4c4c4c,inset 0 0 .4em #636363,0 0 .5em rgba(0,0,0,.5),0 0 .1em rgba(255,214,201,.5);
}

.pcBar .progress__bar, .pcBar .progress--complete .progress__bar {
    background-color: rgba(168, 61, 18,.95);
    background-image: -webkit-linear-gradient(0deg,rgba(191, 67, 19,0) 10%,rgba(209, 75, 23,.8) 30%,#d64f19 70%,rgba(209, 75, 23,.8) 80%,rgba(191, 67, 19,0) 90%),-webkit-linear-gradient(left,rgba(229, 84, 27,0),#aa3b0f),-webkit-linear-gradient(right,rgba(229, 84, 27,0),#aa3b0f);
    background-image: linear-gradient(90deg,rgba(191, 67, 19,0) 10%,rgba(209, 75, 23, .8) 30%,#d64f19 70%,rgba(209, 75, 23,.8) 80%,rgba(191, 67, 19,0) 90%),linear-gradient(90deg,rgba(229, 84, 27,0) 0,#aa3b0f),linear-gradient(270deg,rgba(229, 84, 27,0) 0,#aa3b0f);
    border-color: #aa3b0f;
    box-shadow: inset 0 0 .6em #aa3b0f,inset 0 0 .4em #d64f19,0 0 .5em rgba(201,47,0,.5),0 0 .1em rgba(255,214,201,.5);
}

.xBar .progress__bar, .xBar .progress--complete .progress__bar {
    background-color: rgba(45, 77, 30,.95);
    background-image: -webkit-linear-gradient(0deg,rgba(56, 96, 36,0) 10%,rgba(56, 94, 37,.8) 30%,#375e23 70%,rgba(56, 94, 37,.8) 80%,rgba(56, 96, 36,0) 90%),-webkit-linear-gradient(left,rgba(73, 124, 47,0),#2d4d1e),-webkit-linear-gradient(right,rgba(73, 124, 47,0),#2d4d1e);
    background-image: linear-gradient(90deg,rgba(56, 96, 36,0) 10%,rgba(56, 94, 37, .8) 30%,#375e23 70%,rgba(56, 94, 37,.8) 80%,rgba(56, 96, 36,0) 90%),linear-gradient(90deg,rgba(73, 124, 47,0) 0,#2d4d1e),linear-gradient(270deg,rgba(73, 124, 47,0) 0,#2d4d1e);
    border-color: #2d4d1e;
    box-shadow: inset 0 0 .6em #2d4d1e,inset 0 0 .4em #375e23,0 0 .5em rgba(56, 96, 36,.5),0 0 .1em rgba(73, 124, 47,.5);
}

.psBar .progress__bar, .psBar .progress--complete .progress__bar {
    background-color: rgba(7, 26, 69,.95);
    background-image: -webkit-linear-gradient(0deg,rgba(10, 36, 94,0) 10%,rgba(13, 45, 114,.8) 30%,#0e3487 70%,rgba(13, 45, 114,.8) 80%,rgba(10, 36, 94,0) 90%),-webkit-linear-gradient(left,rgba(13, 52, 135,0),#071a45),-webkit-linear-gradient(right,rgba(13, 52, 135,0),#071a45);
    background-image: linear-gradient(90deg,rgba(10, 36, 94,0) 10%,rgba(13, 45, 114, .8) 30%,#0e3487 70%,rgba(13, 45, 114,.8) 80%,rgba(10, 36, 94,0) 90%),linear-gradient(90deg,rgba(13, 52, 135,0) 0,#071a45),linear-gradient(270deg,rgba(13, 52, 135,0) 0,#071a45);
    border-color: #071a45;
    box-shadow: inset 0 0 .6em #071a45,inset 0 0 .4em #375e23,0 0 .5em rgba(10, 36, 94,.5),0 0 .1em rgba(13, 52, 135,.5);
}

.mBar .progress__bar, .mBar .progress--complete .progress__bar {
    background-color: rgba(124, 7, 7,.95);
    background-image: -webkit-linear-gradient(0deg,rgba(145, 5, 5,0) 10%,rgba(155, 7, 7,.8) 30%,#a30808 70%,rgba(155, 7, 7,.8) 80%,rgba(145, 5, 5,0) 90%),-webkit-linear-gradient(left,rgba(165, 6, 6,0),#7c0707),-webkit-linear-gradient(right,rgba(165, 6, 6,0),#7c0707);
    background-image: linear-gradient(90deg,rgba(145, 5, 5,0) 10%,rgba(155, 7, 7, .8) 30%,#a30808 70%,rgba(155, 7, 7,.8) 80%,rgba(145, 5, 5,0) 90%),linear-gradient(90deg,rgba(165, 6, 6,0) 0,#7c0707),linear-gradient(270deg,rgba(165, 6, 6,0) 0,#7c0707);
    border-color: #7c0707;
    box-shadow: inset 0 0 .6em #7c0707,inset 0 0 .4em #375e23,0 0 .5em rgba(145, 5, 5,.5),0 0 .1em rgba(165, 6, 6,.5);
}

/* GLOW STYLES */

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #7c0707, 0 0 20px #7c0707, 0 0 30px #7c0707, 0 0 40px #7c0707, 0 0 70px #7c0707, 0 0 80px #7c0707, 0 0 100px #7c0707, 0 0 150px #7c0707;
  }
  to {
    text-shadow: 0 0 5px #7c0707, 0 0 10px #7c0707, 0 0 15px #7c0707, 0 0 20px #fff, 0 0 35px #7c0707, 0 0 40px #7c0707, 0 0 50px #7c0707, 0 0 75px #7c0707;
  }
}

@-webkit-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #2d4d1e, 0 0 20px #2d4d1e, 0 0 30px #2d4d1e, 0 0 40px #2d4d1e, 0 0 70px #2d4d1e, 0 0 80px #2d4d1e, 0 0 100px #2d4d1e, 0 0 150px #2d4d1e;
  }
  to {
    text-shadow: 0 0 5px #2d4d1e, 0 0 10px #2d4d1e, 0 0 15px #2d4d1e, 0 0 20px #2d4d1e, 0 0 35px #2d4d1e, 0 0 40px #2d4d1e, 0 0 50px #2d4d1e, 0 0 75px #2d4d1e;
  }
}

@-webkit-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #a83d12, 0 0 20px #a83d12, 0 0 30px #a83d12, 0 0 40px #a83d12, 0 0 70px #a83d12, 0 0 80px #a83d12, 0 0 100px #a83d12, 0 0 150px #a83d12;
  }
  to {
    text-shadow: 0 0 5px #a83d12, 0 0 10px #a83d12, 0 0 15px #a83d12, 0 0 20px #a83d12, 0 0 35px #a83d12, 0 0 40px #a83d12, 0 0 50px #a83d12, 0 0 75px #a83d12;
  }
}

@-webkit-keyframes neon4 {
  from {
    text-shadow: 0 0 10px #071a45, 0 0 20px #071a45, 0 0 30px #071a45, 0 0 40px #071a45, 0 0 70px #071a45, 0 0 80px #071a45, 0 0 100px #071a45, 0 0 150px #071a45;
  }
  to {
    text-shadow: 0 0 5px #071a45, 0 0 10px #071a45, 0 0 15px #071a45, 0 0 20px #071a45, 0 0 35px #071a45, 0 0 40px #071a45, 0 0 50px #071a45, 0 0 75px #071a45;
  }
}

@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #7c0707, 0 0 20px #7c0707, 0 0 30px #7c0707, 0 0 40px #7c0707, 0 0 70px #7c0707, 0 0 80px #7c0707, 0 0 100px #7c0707, 0 0 150px #7c0707;
  }
  to {
    text-shadow: 0 0 5px #7c0707, 0 0 10px #7c0707, 0 0 15px #7c0707, 0 0 20px #fff, 0 0 35px #7c0707, 0 0 40px #7c0707, 0 0 50px #7c0707, 0 0 75px #7c0707;
  }
}

@-moz-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #2d4d1e, 0 0 20px #2d4d1e, 0 0 30px #2d4d1e, 0 0 40px #2d4d1e, 0 0 70px #2d4d1e, 0 0 80px #2d4d1e, 0 0 100px #2d4d1e, 0 0 150px #2d4d1e;
  }
  to {
    text-shadow: 0 0 5px #2d4d1e, 0 0 10px #2d4d1e, 0 0 15px #2d4d1e, 0 0 20px #2d4d1e, 0 0 35px #2d4d1e, 0 0 40px #2d4d1e, 0 0 50px #2d4d1e, 0 0 75px #2d4d1e;
  }
}

@-moz-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #a83d12, 0 0 20px #a83d12, 0 0 30px #a83d12, 0 0 40px #a83d12, 0 0 70px #a83d12, 0 0 80px #a83d12, 0 0 100px #a83d12, 0 0 150px #a83d12;
  }
  to {
    text-shadow: 0 0 5px #a83d12, 0 0 10px #a83d12, 0 0 15px #a83d12, 0 0 20px #a83d12, 0 0 35px #a83d12, 0 0 40px #a83d12, 0 0 50px #a83d12, 0 0 75px #a83d12;
  }
}

@-moz-keyframes neon4 {
  from {
    text-shadow: 0 0 10px #071a45, 0 0 20px #071a45, 0 0 30px #071a45, 0 0 40px #071a45, 0 0 70px #071a45, 0 0 80px #071a45, 0 0 100px #071a45, 0 0 150px #071a45;
  }
  to {
    text-shadow: 0 0 5px #071a45, 0 0 10px #071a45, 0 0 15px #071a45, 0 0 20px #071a45, 0 0 35px #071a45, 0 0 40px #071a45, 0 0 50px #071a45, 0 0 75px #071a45;
  }
}

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #7c0707, 0 0 20px #7c0707, 0 0 30px #7c0707, 0 0 40px #7c0707, 0 0 70px #7c0707, 0 0 80px #7c0707, 0 0 100px #7c0707, 0 0 150px #7c0707;
  }
  to {
    text-shadow: 0 0 5px #7c0707, 0 0 10px #7c0707, 0 0 15px #7c0707, 0 0 20px #fff, 0 0 35px #7c0707, 0 0 40px #7c0707, 0 0 50px #7c0707, 0 0 75px #7c0707;
  }
}

@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #2d4d1e, 0 0 20px #2d4d1e, 0 0 30px #2d4d1e, 0 0 40px #2d4d1e, 0 0 70px #2d4d1e, 0 0 80px #2d4d1e, 0 0 100px #2d4d1e, 0 0 150px #2d4d1e;
  }
  to {
    text-shadow: 0 0 5px #2d4d1e, 0 0 10px #2d4d1e, 0 0 15px #2d4d1e, 0 0 20px #2d4d1e, 0 0 35px #2d4d1e, 0 0 40px #2d4d1e, 0 0 50px #2d4d1e, 0 0 75px #2d4d1e;
  }
}

@keyframes neon3 {
  from {
    text-shadow: 0 0 10px #a83d12, 0 0 20px #a83d12, 0 0 30px #a83d12, 0 0 40px #a83d12, 0 0 70px #a83d12, 0 0 80px #a83d12, 0 0 100px #a83d12, 0 0 150px #a83d12;
  }
  to {
    text-shadow: 0 0 5px #a83d12, 0 0 10px #a83d12, 0 0 15px #a83d12, 0 0 20px #a83d12, 0 0 35px #a83d12, 0 0 40px #a83d12, 0 0 50px #a83d12, 0 0 75px #a83d12;
  }
}

@keyframes neon4 {
  from {
    text-shadow: 0 0 10px #071a45, 0 0 20px #071a45, 0 0 30px #071a45, 0 0 40px #071a45, 0 0 70px #071a45, 0 0 80px #071a45, 0 0 100px #071a45, 0 0 150px #071a45;
  }
  to {
    text-shadow: 0 0 5px #071a45, 0 0 10px #071a45, 0 0 15px #071a45, 0 0 20px #071a45, 0 0 35px #071a45, 0 0 40px #071a45, 0 0 50px #071a45, 0 0 75px #071a45;
  }
}

/* DRAWER */

.drawer {
  position: fixed;
  background-color: #FFF;
  -webkit-box-shadow: -5px 0px 5px -5px rgba(0,0,0,0.55);
  -moz-box-shadow: -5px 0px 5px -5px rgba(0,0,0,0.55);
  box-shadow: -5px 0px 5px -5px rgba(0,0,0,0.55);
  /* animate.css */
  -webkit-animation-duration: 0.5s; /* Chrome, Safari, Opera */
  animation-duration: 0.5s;
}

.drawer-top {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 300px;
}

.drawer-bottom {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 300px;
}

.drawer-left {
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
}

.drawer-right {
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
}


.hidden {
  display: none;
}

.overlay {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,.75);
  /* animate.css */
  -webkit-animation-duration: 0.4s; /* Chrome, Safari, Opera */
  animation-duration: 0.2s;
}